<div class="container">
  <div class="row row-flex row-flex-wrap">
    <!-- Metrics -->
    <div class="col-md-2 col-md-2-5 card" [ngClass]="project.metrics.state.name">
      <span>Metrics</span>
      <div class="row">

        <!-- test -->
        <div class="col-md-6 text-center">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 319.982 319.982" 
            style="enable-background:new 0 0 319.982 319.982;" xml:space="preserve"
            width="60px" height="60px">
            <g>
              <path style="fill: #5cb85c;" d="M234.991,319.982c2.618,0,5.22-1.078,7.071-2.929s2.929-4.453,2.929-7.071v-140h65   c3.922-0.008,7.721-2.552,9.221-6.176s0.61-8.109-2.159-10.886l-150-150C165.202,1.074,162.604,0,159.991,0   c-2.614,0-5.212,1.074-7.062,2.92l-150,150c-2.769,2.777-3.659,7.263-2.159,10.886c1.5,3.624,5.299,6.168,9.221,6.176h65v140   c0,2.618,1.078,5.22,2.929,7.071s4.453,2.929,7.071,2.929H234.991z"></path>
            </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
          </svg>          
          <span class="metric-text">{{project.metrics.teste}}</span>
          Test
        </div>

        <!-- maintainability -->
        <div class="col-md-6 text-center">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 319.982 319.982" 
            style="enable-background:new 0 0 319.982 319.982;" xml:space="preserve"
            width="60px" height="60px">
            <g>
              <path style="fill: #5cb85c;" d="M234.991,319.982c2.618,0,5.22-1.078,7.071-2.929s2.929-4.453,2.929-7.071v-140h65   c3.922-0.008,7.721-2.552,9.221-6.176s0.61-8.109-2.159-10.886l-150-150C165.202,1.074,162.604,0,159.991,0   c-2.614,0-5.212,1.074-7.062,2.92l-150,150c-2.769,2.777-3.659,7.263-2.159,10.886c1.5,3.624,5.299,6.168,9.221,6.176h65v140   c0,2.618,1.078,5.22,2.929,7.071s4.453,2.929,7.071,2.929H234.991z"></path>
            </g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
          </svg>
          <span class="metric-text">{{project.metrics.maintainability}}</span>        
          Maintainability
        </div>

      </div> 

      <div class="row">

        <!-- security -->
        <div class="col-md-6 text-center">
          <svg xmlns="http://www.w3.org/2000/svg" style="fill: rgb(255, 214, 51);" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 408 408" xml:space="preserve">
            <g><g id="forward">
              <polygon points="204,102 204,0 408,204 204,408 204,306 0,306 0,102   "></polygon>
            </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
          </svg>
          <span class="metric-text-bottom">{{project.metrics.security}}</span>
          Security
        </div>

        <!-- workmanship -->
        <div class="col-md-6 text-center">
          <svg xmlns="http://www.w3.org/2000/svg" style="fill: rgb(255, 214, 51);" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" width="60px" height="60px" viewBox="0 0 408 408" xml:space="preserve">
            <g><g id="forward">
              <polygon points="204,102 204,0 408,204 204,408 204,306 0,306 0,102   "></polygon>
            </g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g>
          </svg>
          <span class="metric-text-bottom">{{project.metrics.workmanship}}</span>        
          Workmanship
        </div>

      </div>

    </div>

    <!-- Build -->
    <div class="col-md-2 col-md-2-5 card" [ngClass]="project.build.state.name">
      <span>Build</span>

      <!-- builds done -->
      <div class="row">
        <div class="col-md-6 text-center"
            *ngFor="let build of project.build.builds" >
          <i class="fa fa-desktop project-icon" [ngClass]="project.build.state.name" aria-hidden="true"></i>
          {{build | ucfirst }}  
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 text-center">&nbsp;</div>
      </div> 

      <!-- time made -->
      <div class="row">
        <div class="col-md-12 text-center">
          {{project.build.startedAt | date: "jm" | lowercase }} - {{project.build.startedAt | date: "yMd"}}
        </div>
      </div>

    </div>

    <!-- Unit Test -->
    <div class="col-md-2 col-md-2-5 card" [ngClass]="project.unitTest.state.name">
      <span>Unit Test</span>

      <div class="row vertical-center">

        <!-- chart -->
        <div class="col-md-6">
          <app-google-chart id="unitTestChart" [chartData]="getUnitTestChartData(project)" [chartOptions]="pie_ChartOptions" 
            chartType="PieChart">
          </app-google-chart>
        </div>

        <!-- percentage -->
        <div class="col-md-6 percent-passed">
          {{project.unitTest.percPassed}}%
          <span>tests passed</span>
        </div>

      </div>

      <!-- code covered -->
      <progress-bar-dynamic 
        [max]=100
        [dynamic]='project.unitTest.codeCovered' 
        [type]='project.unitTest.state.id'
        [insideText]='project.unitTest.codeCovered'>
      </progress-bar-dynamic>

    </div>

    <!-- Functional Test -->
    <div class="col-md-2 col-md-2-5 card" [ngClass]="project.functionalTest.state.name">
      <span>Functional Test</span>

      <div class="row vertical-center">

        <!-- chart -->
        <div class="col-md-6">
          <app-google-chart id="functionalTestChart" [chartData]="getFunctionalTestChartData(project)" [chartOptions]="pie_ChartOptions" 
            chartType="PieChart">
          </app-google-chart>
        </div>

        <!-- percentage -->
        <div class="col-md-6 percent-passed">
          {{project.functionalTest.percPassed}}%
          <span>tests passed</span>
        </div>
      </div>

      <!-- code covered -->
      <progress-bar-dynamic 
        [max]=100
        [dynamic]='project.functionalTest.codeCovered' 
        [type]='project.functionalTest.state.id'
        [insideText]='project.functionalTest.codeCovered'>
      </progress-bar-dynamic>
      
    </div>

    <!-- Result -->
    <div class="col-md-2">
      
      <div [ngSwitch]="project.state.id">

        <!-- pending -->
        <div class="row" *ngSwitchCase="1">
          <div class="col-md-12 metrics-result">
          <div class="col-md-12 metrics-result" [ngClass]="project.state.name">
            <span class="title">Result:</span>
            <span class="h1">Pending...</span>
            <button type="button" class="btn btn-primary">Cancel</button>
          </div>
          </div>
        </div>

        <!-- running -->
        <div class="row" *ngSwitchCase="2">
          <div class="col-md-12 metrics-result" [ngClass]="project.state.name">
            <span class="title">Result:</span>
            <span class="h1">Running...</span>
            <button type="button" class="btn btn-primary">Stop</button>
          </div>
        </div>

        <!-- rejected -->
        <div class="row" *ngSwitchCase="3">
          <div class="col-md-12 metrics-result" [ngClass]="project.state.name">
            <span class="title">Result:</span>
            <span>Change Rejected</span>
            <span class="h1">Metrics Reduction</span>
            <button type="button" class="btn btn-primary">Find Issues</button>
          </div>
        </div>

        <!-- complete -->
        <div class="row" *ngSwitchCase="4">
          <div class="col-md-12 metrics-result" [ngClass]="project.state.name">
            <span class="title">Result:</span>
            <span class="h1">Complete</span>
            <button type="button" class="btn btn-primary">Deploy</button> to:
          </div>
        </div>

      </div>

    </div>

  </div>
</div>