.card {
    box-shadow: 5px 5px 5px #888;
    margin:10px 5px;
    height: 245px;
}

.card span {
    display: block;
    font-size: 1.5em;
    font-weight: bold;
}

.col-md-2-5 {
    width: 19.5% !important;
}

.pending {border: 2px solid #b0b082;}
.pending span {color: #b0b082;}
i.pending {
    border: none;
    color: #b0b082;
}

.running {border: 2px solid #5bc0de;}
.running span {color: #5bc0de;}
i.running {
    border: none;
    color: #5bc0de;
}

.rejected {border: 2px solid #d9534f;}
.rejected span {color: #d9534f;}
i.rejected {
    border: none;
    color: #d9534f;
}

.complete {border: 2px solid #5cb85c;}
.complete span {color: #5cb85c;}
i.complete {
    border: none;
    color: #5cb85c;
}

.project-icon {font-size: 4em;}

.metric-text {
    position: absolute;
    top: 20%;
    left: 35%;
    font-size: 2em !important;
    color: #fff !important;
}

.metric-text-bottom {
    position: absolute;
    top: 13%;
    left: 32%;
    font-size: 2em !important;
    color: #000 !important;    
}

.percent-passed {
    font-size: 3em;
}

.percent-passed span {
    font-size: 12px;
    color: #000;
}

.vertical-center {
    display: flex;
    align-items: center;
}

div.metrics-result {
    height: 245px;
    margin-top: 10px;
    text-align: center;
    border: none;
}

.metrics-result span {display: block;}
.metrics-result span.title {
    color: #000;
    margin-bottom: 2em;
}