.container {
    background-color:#f5f5ef;
}

.projects-row {
    margin:1em 0;
}

.pending {
    border: 2px solid #d3d3d3;
    color: #b0b082;
    font-weight: bold;
    background: linear-gradient(to left, #fff 50%, #d3d3d3 300%);
    background: -webkit-linear-gradient(to left, #fff 50%, #d3d3d3 300%);
    background: -o-linear-gradient(to left, #fff 50%, #d3d3d3 300%); 
    background: -moz-linear-gradient(to left, #fff 50%, #d3d3d3 300%);
}

.running {
    border: 2px solid #5bc0de;
    color: #5bc0de;
    font-weight: bold;    
    background: linear-gradient(to left, #fff 50%, #5bc0de 300%);
    background: -webkit-linear-gradient(to left, #fff 50%, #5bc0de 300%);
    background: -o-linear-gradient(to left, #fff 50%, #5bc0de 300%); 
    background: -moz-linear-gradient(to left, #fff 50%, #5bc0de 300%);    
}

.rejected {
    border: 2px solid #d9534f;
    color: #d9534f;
    font-weight: bold;    
    background: linear-gradient(to left, #fff 50%, #d9534f 300%);
    background: -webkit-linear-gradient(to left, #fff 50%, #d9534f 300%);
    background: -o-linear-gradient(to left, #fff 50%, #d9534f 300%); 
    background: -moz-linear-gradient(to left, #fff 50%, #d9534f 300%);    
}

.complete {
    border: 2px solid #5cb85c;
    color: #5cb85c;
    font-weight: bold;
    background: linear-gradient(to left, #fff 50%, #5cb85c 300%);
    background: -webkit-linear-gradient(to left, #fff 50%, #5cb85c 300%);
    background: -o-linear-gradient(to left, #fff 50%, #5cb85c 300%); 
    background: -moz-linear-gradient(to left, #fff 50%, #5cb85c 300%);    
}

.vertical-center {
  display: flex;
  align-items: center;
}